body {
  background-color: black;
}
 
 .glen {
  text-align: center;
  color: rgb(250, 120, 84);
  font-size: 70px;
}

.glen1 {
  text-align: center;
  color: rgb(250, 120, 84);
  font-size: 40px;
}

p {
  color: white;
}


.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
}

.sidebar {
  float: left;
}

/* img {
  width: 25%;
  float: left;
  padding-right: 5%;
} */
