 .glen {
  text-align: center;
  color: rgb(250, 120, 84);
  font-size: 70px;
}

.glen1 {
  text-align: center;
  color: rgb(250, 120, 84);
  font-size: 40px;
}

p {
  color:red
}

body {
  background-color: black;
}